.dropdownButtonCont {
    display: flex;
    border: 1px solid #E6E7E9;
    border-radius: 100px;
    padding-left: 12px;
    background: #F3F3F3;
    height: 28px;
}

:global(._btn_down.diwork-dropdown) {
    z-index: 1701;
}

:global(._btn_down.diwork-dropdown .u-dropdown-menu) {
    padding: 0;
}

.btnUpward, .btnPullDown {
    text-align: center;
}

.btnUpward {
    background: rgba(252, 237, 236, 1);
}

.btnUpward .iconStyle {
    color: #505766;
}

.iconStyle{
    position: relative;
    top:3px;
}

.btnPullDown:hover .iconStyle {
    /* background:rgba(9,30,66,0.08); */
    color: #505766;
}

.btnPullDown:active {
    /* background:rgba(252,237,236,1); */
}

.btnPullDown:active .iconStyle {
    color: #505766;
}

.btnUpward>div, .btnPullDown>div {
    width: 30px;
    margin-left: 5px;
    margin-right: 3px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 26px;
}

.btnUpward>div, .btnPullDown>div>i {
    color: #969AA3
}

.menuStyle li {
    color: #555555;
}

.menuStyle {
    box-shadow: 0 3px 6px 0px rgba(74, 81, 93, 0.25);
    border: rgba(78, 89, 104, 0.19);
    width: 233px;
    margin-top: 0;
}

.menuStyle :global(.u-dropdown-menu-item:first-child) {
    margin-top: 0;
    color: #555;
}

.dropMenuItem {
    background: red;
}

.dropdown_button_cont :globle(.u-dropdown-menu>.u-dropdown-menu-item) {
    position: relative;
}

.dropdown_button_cont :globle(.u-dropdown-menu>.u-dropdown-menu-item):hover {
    background: #fff !important;
}

._menuItem {
    position: absolute;
    right: 8px;
    bottom: 0px;
    color: rgba(74, 81, 93, 0.8);
}

.fnbox {
    border-top: 1px solid #d0d0d0;
}

.createEnt {
    cursor: pointer;
    padding-left: 13px;
    padding-right: 13px;
    color: #111111;
    line-height: 40px;
    font-weight: 600;
    position: relative;
    border-top: 1px solid #DEE0E3;
}

.createEnt:hover {
    background: #F3F5F9;
}

.menuItem {
    height: auto !important;
    padding: 0px !important;
    padding-left: 2px;
    background: #fff !important;
}

.itemLi {
    height: 30px;
    width: 100%;
    cursor: pointer;
    line-height: 30px;
    white-space: nowrap;
    position: relative
}

.itemLi:hover {
    background: #f3f5f9;
}

.itemUl {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    /* padding-left: 5px; */
}

.itemUl :global(i.iconfont) {
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 18px;
    font-weight: 100;
}

.liTitle {
    width: 64%;
    padding-left: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
    font-weight: normal;
    white-space: nowrap;
    float: left;
}

.liRight {
    text-align: center;
    color: #888888;
    float: right;
    padding-right: 10px;
}

.liRight span {
    padding: 2px 4px;
    background-color: #F5F5F5;
    border-radius: 3px;
}

.liRight :global(span.blue) {
    color: #588ce9
}

.liRight :global(span.red) {
    color: #ee2223
}

:global(.home_title) {
    font-size: 12px;
    background: transparent;
    width: auto;
}

:global(.home_title)>span {
    display: block;
    white-space: nowrap;
    width: 168px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 26px;
}

:global(.home_title_down) {
    background: transparent;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.currLi {
    background: #FFF7E7;
    /* color: #E14C46; */
    position: relative;
}

.currLi:hover {
    background: #FFF7E7;
}

:global(.diwork_title) {
    font-size: 14px;
    background: transparent;
    width: auto;
}

:global(.diwork_title)>span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:global(.diwork_title_down) {
    background: transparent;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
