.win {
    position: relative;
}

.avator {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50% 50%;
}

.avator img {
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
}

.avator :global(.avatorImg) {
    background: url("assets/image/avator.svg") no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px
}

.avator :global(.iconfont) {
    font-size: 32px;
}

.info {
    position: absolute;
    top: 40px;
    right: 12px;
    width: 200px;
    background: #ffffff;
    z-index: 1701;
    box-shadow: 0px 3px 6px 0px rgba(74, 81, 93, 0.25);
    border: 1px solid rgba(78, 89, 104, 0.19);
    text-align: left;
    font-size: 14px;
}

.info :global(.iconfont) {
    font-weight: 200;
}

.info span {
    color: #555555;
    font-size: 14px;
    line-height: 32px;
}

.info dt {
    padding: 12px 10px 10px 16px;
    overflow: hidden;
}

.tleft {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 6px;
}

.info :global(.avatorImg) {
    height: 40px;
    width: 40px;
    background: url("assets/image/avator.svg") no-repeat;
    background-size: contain;
}

.info dt div img {
    width: 100%;
    height: 100%;
    border-radius: 50% 50%;
}

.tright {
    float: left;
    text-align: left;
}

.info .tright span {
    display: block;
    line-height: 20px;
    max-width: 120px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tright ul {
    overflow: hidden;
}

.tright ul li {
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50% 50%;
    margin-right: 8px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.tright ul li :global(.iconfont) {
    color: #ffffff;
		font-size: 18px;
		line-height: 1.4;
}

.tright ul li:first-of-type :global(.iconfont) {
    position: relative;
    right: -0.5px;
}

.tright ul li :global(.iconfont):hover {
    color: #ffffff;
}

.tright ul li:first-child {
    background: linear-gradient(180deg, rgba(149, 171, 255, 1) 0%, rgba(88, 140, 233, 1) 100%);
}

.tright ul li:last-child {
    background: linear-gradient(360deg, rgba(252, 76, 47, 1) 0%, rgba(255, 167, 104, 1) 100%);
}

.info dd {
    border-top: 1px solid #D0D0D0;
}

.info dd:last-child {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #D0D0D0;
}

.list {
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    cursor: pointer;
}

.list :global(.u8ciconfont) {
    /* line-height: 1; */
}

.info :global(.u-menu-vertical .u-menu-submenu-title:after) {
    right: 12px;
}

.list:hover {
    background: #f3f5f9;
}

.list:hover span {
    color: #505766;
}

.list:hover :global(.iconfont::before) {
    color: #505766;
}

.list :global(i.defaultLogin) {
    font-size: 18px;
}

.list :global(i.userinfoicon) {
    font-size: 20px;
    left: 0;
    margin-top: 6px;
}

.list :global(i.exit) {
    font-size: 16px;
}

.list :global(.iconfont) {
    float: left;
    font-size: 16px;
    color: #888!important
}

.list :global(.iconfont::before) {
    color: #888!important
}

.list :global(.diworkiconfont) {
    margin-top: 8px;
    position: relative;
    left: 2px;
}

.list span {
    float: left;
    margin-left: 12px;
    width: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu {
    padding: 0;
    border: none;
    box-shadow: none;
}

.workbenchClass>ul {
    border: none;
    padding: 0;
}

.menuEn {
    padding: 0;
    border: none;
    box-shadow: none;
}

.info :global(.u-menu-submenu-vertical>.u-menu) {
    left: auto;
    right: 100%;
}

.info .menu :global(.u-menu-submenu-vertical>.u-menu) {
    width: 160px;
}

.info :global(.u-menu-vertical>.u-menu-submenu>.u-menu-submenu-title) {
    padding: 0;
    line-height: 32px;
    height: 32px;
}

.info :global(.u-menu-submenu-selected) {
    background: none;
}

.info :global(.u-menu-submenu-active>.u-menu-submenu-title) {
    background: none;
}

.info :global(.u-menu-item) {
    cursor: pointer;
		position: relative;
		line-height: 35px;
}

.info .selectType {
    position: absolute;
    right: 6px;
    color: transparent;
    top: 8px;
}

.info :global(.u-menu-item-active) {
    color: #505766;
    background: #f3f5f9;
}

.info :global(.u-menu-item-active) .selectType {
    color: #c4cad2;
}

.out {
    padding: 7px 0 8px;
}

.info :global(.u-menu-item-selected) {
    color: #505766;
    background: #FFF7E7
}

.info :global(.u-menu-item-selected) .selectType {
    color: #ee2223;
}

.info :global(.u-menu-item .frontIcon:hover) {
    color: #505766
}

.info :global(.u-menu-item .iconfont) {
    font-weight: 100;
    margin-right: 10px;
    font-size: 18px;
}

.desttopicon :global(.iconfont:first-child) {
    float: left;
}

.backgroundStyle {
    width: 28px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-right: 8px;
    margin-top: 8px;
}

.workbenchClass>ul>li>div:nth-child(2)>div>div>ul>li {
    height: 35px;
}

 /* 菜单移动不了 */
/* .workbenchClass>ul>li>div:nth-child(2)>div>div.u-menu-submenu-popup {
    margin-left: 3px;
} */
