.lebraNavbar{
  height: 40px;
  border-bottom: 1px solid #F1F1F1;
}

.lebraNavbar :global(.lebra-navbar-left-icon){
  width: 48px;
  height: 24px;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lebraNavbar :global(.lebra-navbar-left-icon::after){
  content: '';
  position: absolute;
  right: 0;
  top: 14px;
  height: 14px;
  width: 1px;
  background: #CCCCCC;
}
.lebraNavbar.active :global(.lebra-navbar-left-icon){

  background: #f3f3f3;
}
.lebraNavbar :global(.lebra-navbar-left-icon img){
  width: 25px;
  height: 24px;
}
